.stories {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 145px;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
  }
  .c-feed {
    width: 980px;
    margin: 0 auto; 
    margin-top: 32px;
  }